%h2= "User #{@user.email}"

.container-fluid
  .row
    .col-xs-6.text-center
    %h2 My books to lend:
    - @user.own_books.each do |book|
      %p= link_to "#{book.id} Title: #{book.title}, Author: #{book.author}", user_book_path(@user)
      - if book.book_status == 1
        = book.borrower_id
        //= link_to book.change_book_status, "Change book status"

      %br/
    = button_to "Add book to lend", new_user_book_path(@user)

    .col-xs-6.text-center
    %h2 My borrowed books:
    - @user.borrowed_books.each do |book|
      %p= link_to "#{book.id} Title: #{book.title}, Author: #{book.author}", user_book_path(@user)
      %br/
