.container-fluid
  %h2= "User: #{@user.first_name}"

  /TODO = gravatar_for @user
  .btn.btn-primary
    = link_to "Add book to lend", new_user_book_path(@user)
  %br/
  %br
    .row
      .col-md-6.text-center
        .well
          .row
            %h2 Books owned:
            %br
            - @user.books.each do |book|
              .col-md-4
                .panel.panel-default
                  .panel-body
                    = link_to image_tag("#{book.decorate.cover_dec}",
                                alt: "book cover", style:"width:100px;height:100px;"),
                                user_book_path(@user,book)
                  .panel-footer
                    = link_to "#{book.title}", user_book_path(@user,book)
      .col-md-6.text-center
        .well
          .row
            %h2 Borrowed books:
            %br
            - @user.currently_borrowed.each do |loan|
              .col-md-4
                .panel.panel-default
                  .panel-body
                    = link_to image_tag("#{loan.book.decorate.cover_dec}", alt: "book cover", style:"width:100px;height:100px;" ), user_book_path(@user,loan.book)
                  .panel-footer
                    = link_to "#{loan.book.title}", user_book_path(@user,loan.book)
