.container-fluid
  %h2= "User: #{@user.email}"
  = gravatar_for @user

  .btn.btn-primary
    = link_to "Add book to lend", new_user_book_path(@user)
  %br
    .row
      .col-md-6.text-center
        .well
          %h2 My books to lend:
          @loan
          - @user.books.each do |book|
            %br/
            return book
            %p= link_to "Title: #{book.title}, Author: #{book.author}", user_book_path(@user,book)
            %br/
            -# %p= "Borrowed by #{loan.book.user_id}"
            %br/
            %p= "Returned"
            -# - if book.book_status == 1
            -#   = "Borrowed by #{book.borrower_id}"
            -#   .btn.btn-success Change book status
              //, book.change_book_status
            %br/

      .col-md-6.text-center
        .well
          %h2 My borrowed books:
          - @user.loans.each do |loan|
            from
            %br/
            %p= link_to "Book: #{loan.book.title} is borrowed by #{loan.user.email}", user_book_path(@user,loan.book)

            %br/
