= simple_form_for([:user,@book]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title

  .form-inputs
    = f.input :author

  .form-inputs
    = f.text_area :description

  .form-inputs
    = f.file_field :cover

  .form-actions
    = f.button :submit
