.row
  .container
    %h2.text-center What do you want to read today?
    .col-sm-6.col-sm-offset-3
      = search_form_for @q, url: books_path() do |f|
        #{f.search_field :title_cont, style: 'width: 550px', :placeholder => 'type the title...'}
    %br/
    %br

.col-md-10.col-md-offset-1
  .row
    .panel.panel-default
      .panel-heading
        %h2 Books list
      .panel-body
        - @books.each do |book|
          .col-md-3
            %h2
            - if user_signed_in?
              = link_to "#{book.title}", user_book_path(id: book.id, user_id: current_user.id)
              %br/
              .btn-group
                %a.btn.btn-default.btn-sm{:href => user_book_path(id: book.id, user_id: current_user.id)}
                  = image_tag("#{book.decorate.cover_dec}", alt: "book cover", style:"width:200px;height:200px;")
                %br/
                = link_to like_user_book_url(id: book.id, user_id: current_user.id), method: :put, class:   "btn btn-default btn-sm" do
                  %span.glyphicon.glyphicon-star
                  Upvote
                  \#{book.get_upvotes.size}
                = link_to dislike_user_book_url(id: book.id, user_id: current_user.id), method: :put,     class: "btn btn-default btn-sm" do
                  %span.glyphicon.glyphicon-star-empty
                    Downvote
                    \#{book.get_downvotes.size}
            - else
              = link_to book.title, new_user_session_path
              %br/
              .btn-group
                %a.btn.btn-default.btn-sm{:href => new_user_session_path}
                  = image_tag("#{book.decorate.cover_dec}", alt: "book cover", style:"width:200px;height:200px;")
                %br/
                = link_to new_user_session_path, class: "btn btn-default btn-sm" do
                  %span.glyphicon.glyphicon-star
                  Upvote
                  \#{book.get_upvotes.size}
                = link_to new_user_session_path, class: "btn btn-default btn-sm" do
                  %span.glyphicon.glyphicon-star-empty
                    Downvote
                    \#{book.get_downvotes.size}

